body {
    padding-top: 70px;
}

.section-padding {
    padding: 60px 0;
}

.about-img {
    max-width: 270px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.about-img:hover {
    transform: scale(1.08);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}


.skill-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-box:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}


.project-card {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
}

.project-card img {
    height: 260px;
    object-fit: cover;
}

.project-card .card-body {
    padding: 25px;
}

.project-card .card-title {
    margin-bottom: 15px;
}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}


.contact-box {
    background: #ffffff;
    padding: 40px 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-box p {
    font-size: 18px;
    margin-bottom: 15px;
}

.contact-box a {
    color: #0d6efd;
    text-decoration: none;
    font-weight: 500;
}

.contact-box a:hover {
    text-decoration: underline;
}