body {
    padding-top: 70px;
}

.section-padding {
    padding: 60px 0;
}

.skill-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
}
.project-card img {
  height: 200px;
  object-fit: cover;
}
